# $Id: mymirror.config,v 1.13 2000/12/31 12:01:57 k Exp k $

package     =msql
    site        =bond.edu.au
    remote_dir  =/pub/Minerva/msql
    local_dir   +pub/etc/msql
    get_patt    =^[fm]
    recursive   =false
    max_days    =22
    skip        =moved to hughes

package     =cpantxt
    site        =ftp.funet.fi
    remote_dir  =/pub/languages/perl/CPAN/
    local_dir   =/home/ftp/pub/from.CPAN/
    # CPAN.html links into authors/ and that's not there,
    # but I prefer to see the symlink as a reminder
    make_bad_symlinks=true
    compress_patt=
    do_deletes  =true
    local_ignore=src|ports
    get_patt    =.
    recursive   =false
    max_days    =9999
    mail_prog   =/bin/true
    skip        =

package     =cpanports
    site        =ftp.funet.fi
    remote_dir  =/pub/languages/perl/CPAN/ports/
    local_dir   =/home/ftp/pub/from.CPAN/ports/
    compress_patt=
    #local_ignore=
    #exclude_patt+\.mirror\.log
    do_deletes=true
    max_delete_files=25%
    get_patt    =.
    recursive   =true
    max_days    =9999
    skip        =no yet ready, timestamp problems

package     =cpansrc
    site        =ftp.funet.fi
    remote_dir  =/pub/languages/perl/CPAN/src/
    local_dir   =/home/ftp/pub/from.CPAN/src/
    get_patt    =.
    # exclude_patt=FTP_LS_
    max_days    =30
    recursive   =true
    skip        =mirroring not yet ready

package     =AMOSS
    site        =ftp.huji.ac.il
    remote_dir  =/users/amoss/
    local_dir   +authors/id/A/AM/AMOSS
    get_patt    =^SGI
    recursive   =false
    max_days    =22
    skip        =

package     =FMC
    site        =ftp.pasteur.fr
    remote_dir  =/pub/Perl/
    local_dir   +authors/id/F/FM/FMC
    get_patt    =^Sx[-D]
    recursive   =false
    max_days    =22
    skip        =

package     =MICB
    site        =ftp.ox.ac.uk
    remote_dir  =/pub/perl/for-CPAN
    local_dir   +authors/id/M/MI/MICB
    get_patt    =\.(gz|pm)$
    max_days    =22
    recursive   =false
    flags_nonrecursive+L
    skip        =

# Ilya's ftp directories are a constant cause for grief for the mirror
# program and its relation to symlinks. I get by far to many emails
# about a symlink being created, but I see no clear pattern...

package     =ILYAZ
    site        =ftp.math.ohio-state.edu
    remote_dir  =/pub/users/ilya/perl
    local_dir   +authors/id/I/IL/ILYAZ
    get_patt    =.
    compress_patt=
    do_deletes  =false
# do_deletes must be false for ilya, because of the many old files there
    follow_local_symlinks=.
    max_days    =222
    recursive   =true
    # make_bad_symlinks=true
    skip        =

package     =emacs
    site        =ftp.math.ohio-state.edu
    remote_dir  =/pub/users/ilya/emacs
    local_dir   +etc/emacs/ilyaz
    get_patt    =.
    max_days    =22
    recursive   =true
    flags_recursive+L
    skip        =no space on emergency disk


package     =DMEGG
    site        =aix1.uottawa.ca
    remote_dir  =/pub/dmeggins/
    local_dir   +authors/id/D/DM/DMEGG
    get_patt    =^SGMLSpm-
    max_days    =22
    recursive   =false
    skip        =

package     =MEWP
    site        =ftp.demon.co.uk
    remote_dir  =/pub/perl/db/mod/Sybase/
    local_dir   +authors/id/M/ME/MEWP
    get_patt    =^syb
    max_days    =22
    recursive   =false
    skip        =now uses CPAN directly

package     =GSM
    site        =ftp.wellfleet.com
    remote_dir  =/netman/snmp/perl5/
    local_dir   +authors/id/G/GS/GSM
    get_patt    =.
    do_deletes  =true
    max_days    =3222
    recursive   =false
    skip        =

package =ADESC
    site        =ftp.mcqueen.com
    remote_dir  =/pub/hermetica/descarte/perl/modules/
    local_dir   +authors/id/A/AD/ADESC
    get_patt    =.
    max_days    =22
    recursive   =false
    flags_nonrecursive+L
    skip        =Al has moved

package     =LDS
    site        =ftp-genome.wi.mit.edu
    remote_dir  =/pub/software/WWW/
    local_dir   +authors/id/L/LD/LDS
    get_patt    =^(CGI|GD)[\.\-](modules-|pm-)?\d+\.[\d\w]+\.tar\.gz$
    do_deletes  =false
    max_days    =22
    max_delete_files =3
    recursive   =false
    flags_nonrecursive+L
    skip        =

package     =AKSTE
    site        =hub.ucsb.edu
    remote_dir  =/pub/prog/perl/
    local_dir   +authors/id/A/AK/AKSTE
    get_patt    =^(PrintArray-|Term-Query-)\d.*\.tar.gz$
    max_days    =22
    recursive   =false
    skip        =too many error messages recently

package     =TIMB
    site        =ftp.demon.co.uk
    remote_dir  =/pub/perl/db
    local_dir   +authors/id/T/TI/TIMB
    get_patt    =^(D|perl5)
    do_deletes  =false
    max_days    =22
    recursive   =true
    flags_recursive+L
    skip        =Tim said "you can stop mirroring demon all together"

package     =YVESP
    site        =ftp.demon.co.uk
    remote_dir  =/pub/perl/db/mod/Pg95
    local_dir   +authors/id/Y/YV/YVESP
    get_patt    =.
    max_days    =22
    recursive   =false
    skip        =disabled since 1996-02-19. Dead directroy?

package     =MERGL
    site        =ftp.demon.co.uk
    remote_dir  =/pub/perl/db/mod/Pg95
    local_dir   +authors/id/M/ME/MERGL
    get_patt    =.
    max_days    =22
    recursive   =false
    skip        =edmund now loads up directly to pause


package     =GUYDX
    site        =moulon.inra.fr
    remote_dir  =/pub/pTk/
    local_dir   +authors/id/G/GU/GUYDX
    follow_local_symlinks=.
    get_patt    =.
    make_bad_symlinks=true
    max_days    =22
    recursive   =false
    skip        =

package     =TOMC_scripts
    site        =perl.com
    remote_dir  =/perl/scripts/
    local_dir   +authors/id/T/TO/TOMC/scripts
    get_patt    =.
    exclude_patt   =ghindex\.html
    max_days    =90
    recursive   =true
    skip        =

package     =TOMC_modules
    site        =ftp.perl.com
    remote_dir  =/pub/perl/tchrist/modules/
    local_dir   +authors/id/T/TO/TOMC/modules
    get_patt    =.
    exclude_patt   =ghindex\.html
    max_days    =90
    recursive   =true
    skip        =

package     =ULPFR
    site        =ls6-www.informatik.uni-dortmund.de
    remote_dir  =/pub/perl/perl5/modules/
    local_dir   +authors/id/U/UL/ULPFR
    do_deletes  =true
    get_patt    =.
    delete_patt =.
    max_delete_files=10%
    max_days    =22
    recursive   =false
    skip        =Cancelled because unreliable

package     =MUIR
    site        =ftp.idiom.com
    remote_dir  =/users/muir/CPAN/
    local_dir   +authors/id/M/MU/MUIR
    do_deletes  =true
    get_patt    =.
    max_days    =42
    recursive   =true
    do_deletes  =true
    skip        =

package     =GREGG
    site        =fruitfly.berkeley.edu
    remote_dir  =/pub/bioTk/
    local_dir   +authors/id/G/GR/GREGG
    get_patt    =.
    max_days    =22
    recursive   =false
    skip        =not yet verified

package     =KGB
    site        =ftp.ast.cam.ac.uk
    remote_dir  =/pgperl/perl5/
    local_dir   +authors/id/K/KG/KGB
    get_patt    =PGPLOT.*_src.*
    max_days    =22
    recursive   =false
    skip        =

package     =STANM
    site        =skyler.arc.ab.ca
    remote_dir  =/pub/perl/
    local_dir   +authors/id/S/ST/STANM
    get_patt    =.
    max_days    =22
    recursive   =false
    skip        =

package     =NEILB
    site        =ftp.khoral.com
    remote_dir  =/pub/weblint/
    local_dir   +authors/id/N/NE/NEILB
    get_patt    =weblint.*(\.tar\.gz|\.ps)
    max_days    =22
    recursive   =false
    skip        =because Neil has moved away from khoros

package     =FSG
    site        =coriolan.amicus.com
    remote_dir  =/pub/
    local_dir   +authors/id/F/FS/FSG
    get_patt    =^Penguin-
    max_days    =22
    recursive   =false
    skip        =seems to be dead

package     =SHUTTON
    site        =habanero.ucs.indiana.edu
    remote_dir  =/pub/perl/SHUTTON/
    local_dir   +authors/id/S/SH/SHUTTON
    get_patt    =.
    max_days    =22
    recursive   =false
    skip        =he recently uploaded something, have to clarify status

package     =SPIDB
    site        =ftp.ma.ultranet.com
    remote_dir  =~spiderb/public_html/perl/ext/
    local_dir   +authors/id/S/SP/SPIDB
    get_patt    =.
    max_days    =22
    recursive   =false
    skip        =

package     =DSTALDER
    site        =ftp.daft.com
    remote_dir  =/pub/Perl5/pause/debian/
    local_dir   +authors/id/D/DS/DSTALDER
    get_patt    =.
    max_days    =22
    recursive   =false
    skip        =not yet verified

package     =PHENSON
    site        =www.intranet.csupomona.edu
    remote_dir  =/~henson/www/projects/File-LockFile-Lock-0.15.tar.gzf/dist/
    local_dir   +authors/id/P/PH/PHENSON
    get_patt    =.
    max_days    =22
    recursive   =false
    skip        =not yet verified

package     =FTASSIN
    site        =ftp.oleane.net
    remote_dir  =/private/fta/perl/cpan/
    local_dir   +authors/id/F/FT/FTASSIN
    get_patt    =.
    max_days    =22
    recursive   =false
    skip        =

package     =HAKANARDO
    site        =hobbe.ub2.lu.se
    remote_dir  =/pub/CPAN/
    local_dir   +authors/id/H/HA/HAKANARDO
    follow_local_symlinks=.
    do_deletes  =true
    get_patt    =.
    max_days    =44
    recursive   =false
    skip        =

