#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "/var/lib/mysql/my.cnf" to set server-specific options or
# - "~/.my.cnf" to set user-specific options.
# 
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#

# This will be passed to all mysql clients
[client]
#password	= my_password
port		= 3306
socket		= /var/run/mysqld/mysqld.sock

# Here is entries for some specific programs
# The following values assume you have at least 32M ram

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
err-log		= /var/log/mysql/mysql.err
socket		= /var/run/mysqld/mysqld.sock

[mysqld]
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
#
# You can also put it into /var/log/mysql/mysql.log but I leave it in /var/log
# for backward compatibility. Both location gets rotated by the cronjob.
#log		= /var/log/mysql/mysql.log
log		= /var/log/mysql.log
basedir		= /usr
datadir		= /home/mysql
tmpdir		= /tmp
language	= /usr/share/mysql/english
skip-locking
#
# The skip-networkin option will no longer be set via debconf menu.
# You have to manually change it if you want networking i.e. the server
# listening on port 3306. The default is "disable" - for security reasons.
skip-networking
set-variable	= key_buffer=16M
set-variable	= max_allowed_packet=2M
set-variable    = table_cache=512
set-variable	= thread_stack=128K
set-variable    = sort_buffer=2M
set-variable    = thread_cache=8
set-variable    = thread_concurrency=8
#set-variable    = join_buffer_size=1M
set-variable    = record_buffer=1M
#set-variable    = connect_timeout=3600
#set-variable    = max_connections=200

# set-variable = key_buffer=384M
# set-variable = max_allowed_packet=2M
# set-variable = table_cache=512
# set-variable = sort_buffer=2M
# set-variable = record_buffer=2M
# set-variable = thread_cache=8
# # Try number of CPU's*2 for thread_concurrency
# set-variable = thread_concurrency=8
# set-variable = myisam_sort_buffer_size=64M 

#
# Here you can see queries with especially long duration
#log-slow-queries	= /var/log/mysql/mysql-slow.log
#
# The following can be used as easy to replay backup logs or for replication
#server-id		= 1
#log-bin		= /var/log/mysql/mysql-bin.log
#binlog-do-db		= include_database_name
#binlog-ignore-db	= include_database_name
#
# Read the manual if you want to enable InnoDB!
skip-innodb
#
# Read the manual, too, if you want chroot!
# chroot = /var/lib/mysql/
#
# If you want to enable SSL support (recommended) read the manual or my
# HOWTO in /usr/share/doc/mysql-server/SSL-MINI-HOWTO.txt
# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem



[mysqldump]
quick
set-variable	= max_allowed_packet=1M

[mysql]
#no-auto-rehash	# faster start of mysql but no tab completition

[isamchk]
set-variable	= key_buffer=16M
