[Unit]
Description=PAUSE web service
Documentation=https://github.com/andk/PAUSE/

# Wait for the network to be up
After=network-online.target

# Require the network service to be present, and at least started at the same time as this service
Wants=network-online.target

[Service]
Type=simple

User=pause
Group=pause
WorkingDirectory=/home/pause/pause

# Should not daemonize
ExecStart=/home/pause/.plenv/shims/plackup --port 5000 app_2017.psgi

Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
