[ req ]
default_bits		= 2048
distinguished_name	= req_distinguished_name
attributes		= req_attributes
req_extensions          = v3_req

[ req_distinguished_name ]
countryName			= Country Name (2 letter code)
countryName_default		= DE
countryName_min			= 2
countryName_max			= 2

stateOrProvinceName		= State or Province Name (full name)
stateOrProvinceName_default	= Berlin

localityName			= Locality Name (eg, city)
localityName_default		= Berlin

0.organizationName		= Organization Name (eg, company)
# cacert ignores this--ak
0.organizationName_default	= 

organizationalUnitName		= Organizational Unit Name (eg, section)
# cacert ignores this--ak
organizationalUnitName_default	= 

commonName			= Common Name (eg, YOUR name)
commonName_max			= 64
commonName_default		= pause.perl.org

emailAddress			= Email Address
emailAddress_max		= 64
emailAddress_default            = andreas.koenig.7os6VVqR@franz.ak.mind.de

[ req_attributes ]
challengePassword	= A challenge password
challengePassword_min	= 4
challengePassword_max	= 20

unstructuredName	= An optional company name

[ v3_req ]
# 2010 Robert sent them the old CSR again (intentionally), not this one
subjectAltName          = DNS:pause.perl.org, DNS:pause.cpan.org

[ x509v3_extensions ]

nsCaRevocationUrl		= http://hmmm.hmmm/
nsComment			= "This is a comment"

# under ASN.1, the 0 bit would be encoded as 80
nsCertType			= 0x40
