
.actionresponse {
  border: 3px #f3f dashed;
  padding: 10px;
  margin:  2px;
  background-color: #eee;
  color: black;
}

.line1, .line2, .line3 { color: black; }
.line1 { background-color: #ffe0e0; }
.line2 { background-color: #e0ffe0; }
.line3 { background-color: #e0e0ff; }


.activemenu { background: #bfb; font-size: small; line-height: 1.5; }
.alternate1 {
  background: #f8f8f8;
  padding-bottom: 12px;
  }
.alternate2 {
  background: #ddd;
  padding-bottom: 12px;
  }
.explain { font-size: small; }
.firstheader { margin: 0 0 5%; }
.menuheading { background: white;
               font-size: small; }
.menuitem { background: #ddf; font-size: small; line-height: 1.5; }
.menupointer { color: green; }
.messages { text-align: left; border: 2px dashed red; padding: 2ex; }
.statusencr { background: #bfb;
              text-align: center;
                  border: green solid 2px;
               font-size: small; }
.statusunencr { background: #fbb;
                text-align: center;
                    border: red solid 2px;
                 font-size: small; }
.xexplain { font-size: x-small; }
a.activemenu { text-decoration: none; }
a.activemenu:hover { text-decoration: underline; }
a.menuitem { text-decoration: none; }
a.menuitem:hover { text-decoration: underline; }
h4.altering { margin: 0 0 12px; }
p.motd { margin: 10px 1in; padding: 5px; color: black; background: yellow; font-size: small; }
td.activemenu { border: green solid 1px; }

.texttable { border: black solid 1px; }
