name: "perl test suite"
on: [ push, pull_request ]

jobs:
  the-tests:
    runs-on: ubuntu-latest
    container:
      image: perldocker/perl-tester:5.16
    strategy:
      fail-fast: false
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Install cpanminus
        run: |
          curl https://cpanmin.us/ > /tmp/cpanm
          chmod u+x /tmp/cpanm
      - name: Makefile.PL
        run: |
          perl Makefile.PL && make
      - name: Install prereqs (apt)
        # If we install "default-mysql-server", the web tests will run, which
        # is good, but they will run forever when we get to
        # t/pause_2017/action/change_passwd.t not responding to SIGTERM or
        # SIGKILL.  I seem to recall something about signals being weird on
        # Actions, but not how... -- rjbs, 2023-05-05
        run: |
          apt update
          apt install -y rsync
      - name: Install prereqs (cpanm, pinned versions)
        run: |
          cpanm Log::Dispatchouli@2.023
          cpanm Mojolicious@8.73
      - name: Install prereqs (cpan)
        # This could probably be made more efficient by looking at what it's
        # installing via cpanm that could, instead, be installed from apt.  I
        # may do that later, but for now, it's fine! -- rjbs, 2023-01-07
        run: cpanm --notest --installdeps .
      - name: Install yath
        run: cpanm --notest Test2::Harness
      - name: Install testing libraries
        run: cpanm --notest Test2::Harness::Renderer::JUnit
      - name: Run the tests
        run: |
          NO_PERL_CRITIC=1 JUNIT_TEST_FILE="/tmp/test-output.xml" ALLOW_PASSING_TODOS=1 yath test --renderer=Formatter --renderer=JUnit -D
      - name: Publish test report
        uses: mikepenz/action-junit-report@v3
        if: always() # always run even if the previous step fails
        with:
          check_name: JUnit Report
          report_paths: /tmp/test-output.xml

